/* Dark Text Colors */
$primary-text-color: #222222;
$secondary-text-color: #8C8C8C;

/* Grey Colors */
$primary-grey-color: #DDDDDD;
$secondary-grey-color: #EEEEEE;

/* UI Colors */
$primary-color: #D0021B;
$secondary-color: #FFB400;
$white: #FFFFFF;


$dark: #171717;
$mode-toggle-bg: #262626;


